<div class="card-boxes">
  <div class="box">
    <div class="right_side">
      <div class="numbers" id="totalPayments">0</div>
      <div class="box_topic">Total des paiements</div>
    </div>
    <i class='bx bx-wallet'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="numbers" id="unpaidMonthsCount">0</div>
      <div class="box_topic">Total des retards</div>
    </div>
    <i class='bx bx-time-five'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="date_reminder" id="lastPaymentDate">01-10-2024</div>
      <div class="box_topic">Date du dernier paiement</div> 
    </div>
    <i class='bx bx-calendar-check'></i>
  </div>
  <div class="box">
    <div class="right_side">
      <div class="date_reminder" id="nextPaymentDate">01-10-2024</div>
      <div class="box_topic">Date du futur paiement</div>
    </div>
    <i class='bx bx-calendar-event'></i>
  </div>
</div>
