<div class="box">
    <i class='bx bx-home'></i>
    <h2 id="actionIndicator">Ma maison</h2>
    <form id="property-form">
      <div class="form-group">
        <label for="address">Adresse:</label>
        <input type="text" id="address" name="address" readonly>
      </div>
      <div class="form-group">
        <label for="description">description:</label>
        <input type="text" id="description" name="description" readonly>
      </div>
      <div class="form-group">
        <label for="cost">Coût:</label>
        <input type="number" id="cost" name="cost" readonly>
      </div>
    </form>
  </div>