

<div class="new_customers">
    <div class="card_header">
      <h2>Envoyez un message </h2>
      <i id="toggle-icon" class='bx bx-chevron-down'></i>
    </div>
    <form id="message-form" style="display: none;">
      <div class="form-group">
        <label for="tenantMessage">Votre message :</label>
        <textarea id="tenantMessage" name="tenantMessage" rows="5" cols="33" placeholder="Écrivez votre message ici..."></textarea>
      </div>
      <button type="submit">Envoyez</button>
    </form>
  </div>
    
    