
<div class="recent_project">
    <div class="card_header">
      <h2>Mes messages</h2>
    </div>
    <table>
      <thead>
        <tr>
          <td>Date</td>
          <td>Message</td>
        </tr>
      </thead>
      <tbody id="messagesTable">
        
      </tbody>
    </table>
  </div>
  