<div class="sidebar">
  <div class="logo_details">
    <i class='bx bx-home-smile' id="logo"></i>
    <div class="logo_name">Mon immeuble</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="#" id="discuss-button">
        <i class='bx bx-chat'></i>
        <span class="links_name">Discussion</span>
      </a>
    </li>
    <li>
      <a href="#" id="porfile-button">
        <i class='bx bx-user'></i>
        <span class="links_name">Profile</span>
      </a>
    </li>
    
    <li class="login">
      <a href="#">
        <span class="links_name login_out">Se déconnecter</span>
        <i class='bx bx-log-out' id="log_out"></i>
      </a>
    </li>
  </ul>
</div>
