<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-home-smile' id="logo"></i>
    <div class="logo-name">Mon immeuble</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class='bx bx-grid-alt'></i>
        <span class="links-name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="#" id="discuss-button">
        <i class='bx bx-chat'></i>
        <span class="links-name">Discussion</span>
      </a>
    </li>
    <li>
      <a href="#" id="porfile-button">
        <i class='bx bx-user'></i>
        <span class="links-name">Profile</span>
      </a>
    </li>
    
    <li class="login">
      <a href="#">
        <span class="links-name login-out">Se déconnecter</span>
        <i class='bx bx-log-out' id="log-out"></i>
      </a>
    </li>
  </ul>
</div>
