

<div class="card">
    <div class="card-header">
      <h2>Envoyez un message </h2>
      <i id="toggle-icon" class='bx bx-chevron-down'></i>
    </div>
    <form id="message-form" style="display: none;">
      <div class="form-group">
        <label for="tenant-message">Votre message :</label>
        <textarea id="tenant-message" name="message" rows="3" cols="33" placeholder="Écrivez votre message ici..." required></textarea>
      </div>
      <button type="submit">Envoyez</button>
    </form>
  </div>
    
    