<!-- Modale pour modification -->
<div id="modal-set-pwd" class="modal hidden">
  <div class="modal-content">
    <h2>Clé pour les connexions futures</h2>
    <form id="set-pwd-form">
      <div class="form-group">
        <label for="set-pwd">Mot de passe:</label>
        <input type="password" id="set-pwd" name="pwd" required>
      </div>
      <div class="form-group">
          <label for="set-pwd1">Confirmation du mot de passe:</label>
          <input type="password" id="set-pwd1" name="pwd1" required>
      </div>
      <button type="submit">Enrégistrer</button>
    </form>
    <div id="set-pwd-message"></div> <!-- Zone pour afficher le message -->
  </div>
</div>
  