<div class="card-boxes">
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="total-payments">0</div>
      <div class="box-topic">Total des paiements</div>
    </div>
    <i class='bx bx-wallet'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="total-properties">0</div>
      <div class="box-topic">Total des logements</div>
    </div>
    <i class='bx bx-building-house'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="total-tenants-properties">0</div>
      <div class="box-topic">Logements occupés</div> 
    </div>
    <i class='bx bx-home-alt'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="total-tenants">0</div>
      <div class="box-topic">Total des locataires</div>
    </div>
    <i class='bx bx-user'></i>
  </div>
</div>
