<div class="table-card">
  <div class="card-header">
    <h2>Les abonements</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Réf</td>
        <td>Nom</td>
        <td>Email</td>
        <td>Montant</td>
        <td>Méthode</td>
        <td>Statut</td>
        <td>Date</td>
      </tr>
    </thead>
    <tbody id="subscriptions-table"></tbody>
  </table>
</div>
