<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-home-smile bx-tada' id="logo"></i>
    <div class="logo-name">Extase-Home</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class='bx bx-grid-alt'></i>
        <span class="links-name">Tableau de bord</span>
      </a>
  </ul>
</div>