@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --dark-blue: #11101D;
  --white-blue: #1D1D31;
  --white: #fff;
  --gray: #E4E9E7;
  --blue: #00A2E8;
  --orange: #FFAA00;
  --purple: #8964f6; 
  --green: #198754;
  --purple2: #624bff;
  --red: #ef2b3e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#logo {
  color: var(--orange);
  font-size: 60px;
  margin: 10px;
  margin-bottom: 20px;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: var(--white);
  padding-bottom: 20px;
}

::selection {
  background: #1a75ff;
  color: #fff;
}

.logo-details {
  position: relative;
  height: 60px;
  display: flex;
  align-items: start;
}

.logo-details .logo-name {
  font-weight: 600;
} 

#animated-text {
  color: var(--dark-blue);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--dark-blue); /* Curseur clignotant */
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

#features-title {
  color: var(--blue);
  margin-bottom: 30px; /* Augmente l'espace sous le titre des fonctionnalités */
}

#sign-in-now {
  color: var(--purple2);
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: var(--purple2); }
}

.features {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.features h2 {
  margin-bottom: 30px; /* Augmente l'espace sous le titre des fonctionnalités */
}

.features ul {
  padding: 0;
  margin: 0;
}

.features ul li {
  opacity: 0;
  transform: translateY(-50px);
  margin: 10px 0;
  transition: transform 0.6s ease-out, opacity 0.6s ease-out;
}

.features ul li.show {
  font-weight: bold;
  opacity: 1;
  transform: translateY(0);
}

.features ul li i {
  font-size: 21px; /* Augmente la taille des icônes */
  font-weight: bold;
  color: var(--purple2);
  margin-right: 15px; /* Ajoute plus d'espace entre l'icône et le texte */
}

.wrapper {
  overflow: hidden;
  width: 90vw; 
  padding: 0px;
  border-radius: 15px;
  margin-top: 40px; 
  margin-bottom: 20px; 
}

.wrapper .wrapper-content {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 80px;
  justify-content: space-between;
  overflow: hidden;
  width: 95%; 
  background: #fff;
  padding: 40px; 
  border-radius: 15px;
  margin: auto;
  margin-top: 40px; 
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper-form {
  overflow: hidden;
  max-width: 420px; 
  background: #fff;
  padding: 40px; 
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.wrapper-form .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 20px 0; /* Ajoute plus d'espace au-dessus des contrôles */
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.title-text {
  width: 75vw; /* Légère augmentation de la largeur pour plus d'espace */
  margin: auto;
  justify-content: left;
  
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup {
  color: #000;
}
.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, var(--dark-blue), var(--white-blue), var(--gray));
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.reset-pwd-notice {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
  background-color: #fff3e0;
}

.reset-pwd-notice span {
  font-weight: bold;
  color: var(--orange);
}

.reset-pwd-notice p {
  margin: 0;
  font-size: 12px;
  color: #666;
}

#message {
  font-weight: bold;
}
.red-message {
  color: var(--red) !important;
}
.green-message {
  color: var(--green) !important;
}

input[type="radio"] {
  display: none;
}
#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: #fff;
  cursor: default;
  user-select: none;
}
#signup:checked ~ label.login {
  color: #000;
}
#login:checked ~ label.signup {
  color: #000;
}
#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
.wrapper-form .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 15px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus {
  border-color: var(--dark-blue);
}
.form-inner form .field input::placeholder {
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder {
  color: var(--dark-blue);
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: var(--purple2);
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
form .btn {
  height: 50px;
  width: 100%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: var(--blue);
  border-radius: 15px;
  transition: all 0.4s ease;
}
form .btn:hover .btn-layer {
  left: 0;
  background: -webkit-linear-gradient(
    left,
    var(--blue), var(--white-blue), var(--gray)
    ); 
  }
  form .btn input[type="submit"] {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


/* Small devices (mobile phones, 320px and up) */
@media screen and (max-width: 575.98px) {
  
  body {
    width: 100% !important;
  }
  .features ul li, li i {
    font-size: 11px !important;
  }
  li i {
    margin-right: 5px !important;
  }
  .wrapper, .wrapper-content {
    width: 100% !important;
    padding: 0px !important;
  }
  .wrapper {
    width: 99vw !important;
  }
  .wrapper-form {
    width: 100% !important;
    padding: 5px !important;
    margin: 0px;
    width: 100%;
  }
  .wrapper .wrapper-content {
    flex-direction: column !important;
    padding: 20px !important;
    width: 100% !important;
  }
  #logo {
    font-size: 36px !important;
    margin: 5px !important;
    margin-bottom: 15px !important;
  }
  #animated-text {
    white-space: normal; /* Permet le retour à la ligne */
    animation: none; /* Désactive l'animation sur mobile */
    border-right: none; /* Supprime le curseur clignotant sur mobile */
    font-size: 16px !important;
    white-space: normal; /* Permet le retour à la ligne */
  }
  #sub-text {
    font-size: 13px !important;
  }
  
  .title-text .logo-details {
    align-items: start !important;;
    margin-bottom: 12px !important;
  }
  .form-inner form .field input {
    font-size: 13px !important;
  }
  form .btn input[type="submit"] {
    font-size: 16px !important;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link {
    font-size: 11px !important;
    text-decoration: none;
  }
  .form-inner form .field input {
    font-size: 13px !important; /* Réduit la taille de la police pour les inputs */
  }
  #features-title {
    font-size: 18px !important; /* Réduit la taille du titre des fonctionnalités */
    margin-bottom: 20px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
  
  body {
    width: 100% !important;
  }
  
  .features ul li, li i {
    font-size: 14px !important;
  }
  
  li i {
    margin-right: 10px !important;
  }
  
  .wrapper, .wrapper-content {
    width: 95% !important;
    padding: 20px !important;
  }
  
  .wrapper {
    width: 97vw !important;
  }
  
  .wrapper-form {
    width: 100% !important;
    padding: 10px !important;
    margin: 0px;
    align-self: center !important;;
  }
  
  .wrapper .wrapper-content {
    flex-direction: column !important;
    padding: 30px !important;
  }
  
  #logo {
    font-size: 34px !important;
    margin: 10px !important;
    margin-bottom: 20px !important;
  }
  
  #animated-text {
    white-space: normal; /* Permet le retour à la ligne */
    animation: none; /* Désactive l'animation */
    border-right: none; /* Supprime le curseur clignotant */
    font-size: 21px !important;
    white-space: normal; /* Permet le retour à la ligne */
  }
  
  #sub-text {
    font-size: 16px !important;
  }
  
  .title-text .logo-details {
    display: flex;
    align-items: start !important;;
    margin-bottom: 15px !important;
    align-items: baseline;
  }
  
  .form-inner form .field input {
    font-size: 14px !important;
  }
  
  form .btn input[type="submit"] {
    font-size: 18px !important;
  }
  
  .form-inner form .pass-link a,
  .form-inner form .signup-link {
    font-size: 12px !important;
    text-decoration: none;
  }
  
  .form-inner form .field input {
    font-size: 14px !important; /* Réduit la taille de la police pour les inputs */
  }
  
  #features-title {
    font-size: 21px !important; /* Réduit la taille du titre des fonctionnalités */
    margin-bottom: 25px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .wrapper, .wrapper-content {
    width: 90% !important;
  }
  .wrapper-form {
    max-width: 500px !important;
    padding: 20px !important;
    margin: 20px;
    /* align-self: center !important; */
  }
  .wrapper .wrapper-content {
    padding: 40px !important;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 80px;
    display: grid !important;
  }
  #logo {
    font-size: 36px !important;
    margin: 15px !important;
    margin-bottom: 25px !important;
  }
  #animated-text {
    font-size: 21px !important;
  }
  #sub-text {
    font-size: 18px !important;
  }
  .title-text .logo-details {
    margin-bottom: 18px !important;
  }
  .form-inner form .field input {
    font-size: 17px !important;
  }
  form .btn input[type="submit"] {
    font-size: 20px !important;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link {
    font-size: 14px !important;
    text-decoration: none;
  }
  #features-title {
    font-size: 24px !important;
    margin-bottom: 30px !important;
  }
}

/* Medium devices (tablets, 1200px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  body {
    width: 100% !important;
  }
  .features ul li, li i {
    font-size: 14px !important;
  }
  li i {
    margin-right: 10px !important;
  }
  .wrapper, .wrapper-content {
    width: 95% !important;
    padding: 0px !important;
  }
  .wrapper {
    width: 98vw !important;
  }
  .wrapper-form {
    width: 95% !important;
    padding: 10px !important;
    margin: 10px;
    width: 95%;
    align-self: center !important;
  }
  .wrapper .wrapper-content {
    flex-direction: column !important;
    padding: 30px !important;
    width: 95% !important;
  }
  #logo {
    font-size: 36px !important;
    margin: 10px !important;
    margin-bottom: 20px !important;
  }
  #animated-text {
    white-space: normal; /* Permet le retour à la ligne */
    animation: none; /* Désactive l'animation */
    border-right: none; /* Supprime le curseur clignotant */
    font-size: 22px !important;
  }
  #sub-text {
    font-size: 16px !important;
  }

  .title-text .logo-details {
    display: flex;
    align-items: start !important;
    margin-bottom: 15px !important;
    align-items: baseline;
  }
  .form-inner form .field input {
    font-size: 15px !important;
  }
  form .btn input[type="submit"] {
    font-size: 18px !important;
  }
  .form-inner form .pass-link a,
  .form-inner form .signup-link {
    font-size: 11px !important;
    text-decoration: none;
  }
  .form-inner form .field input {
    font-size: 15px !important;
  }
  #features-title {
    font-size: 21px !important;
    margin-bottom: 25px !important;
  }
}

