<div class="table-card">
  <div class="card-header">
    <h2>Les derniers paiements</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Nom du Locataire</td>
        <td>Date</td>
        <td>Adresse</td>
        <td>Loyer</td>
        <td>Etat</td>
      </tr>
    </thead>
    <tbody id="unvalid-receipts-table">
      
    </tbody>
  </table>
</div>
