<div class="table-card">
    <div class="card-header">
      <h2>Les reçus de paiements</h2>
    </div>
    <table>
      <thead>
        <tr>
          <td>Nom du Locataire</td>
          <td>Date</td>
          <td>Adresse</td>
          <td>Loyer</td>
        </tr>
      </thead>
      <tbody id="valid-receipts-table">
        
      </tbody>
    </table>
  </div>
  