<div class="new_customers">
  <div class="card_header">
    <h2>Nouveaux locataires</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Name & contacts</th>
        <th>Date d'adhésion</th>
      </tr>
    </thead>
    <tbody id="recentTenantsTable">
      
    </tbody>
  </table>
</div>
