<div class="sidebar">
  <div class="logo-details">
    <i class='bx bx-home-smile bx-tada' id="logo"></i>
    <div class="logo-name">Extase-Home</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class='bx bx-grid-alt'></i>
        <span class="links-name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="#" id="profile-button">
        <i class='bx bx-user'></i>
        <span class="links-name">Profile</span>
      </a>
    </li>
    <li>
      <a href="#" id="tenant-button">
        <i class='bx bx-smile'></i>
        <span class="links-name">Locataires</span>
      </a>
    </li>
    <li>
      <a href="#" id="proprietes-button">
        <i class='bx bx-building-house'></i>
        <span class="links-name">Propriétés</span>
      </a>
    </li>
    <li>
      <a href="#" id="tenant-home-button">
        <i class='bx bx-home-alt'></i>
        <span class="links-name">Locataire & Logement</span>
      </a>
    </li>
    <li>
      <a href="#" id="myreceipt-button">
        <i class='bx bx-receipt'></i>
        <span class="links-name">Mes reçus</span>
      </a>
    </li>
    <li>
      <a href="#" id="subscription-button">
        <i class='bx bx-credit-card'></i>
        <span class="links-name">Abonnement</span>
      </a>
    </li>
  </ul>
</div>