<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirection en cours...</title>
  <link rel="stylesheet" href="/redirect.css">
</head>
<body>
  <div class="container">
    <div class="spinner"></div>
    <p>Redirection en cours, veuillez patienter...</p>
  </div>

  <script src="/public/endpoints.js"></script>
  <script src="/public/renewAccessToken.js"></script>
  <script src="/public/cookies_engine.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const url = host + 'createUserOwner';
      const params = new URLSearchParams(window.location.search);
      const email = params.get('email');
      const pwd = params.get('pwd');
      const otp = params.get('otp');
  
      fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, pwd, otp })
      })
      .then(response => {
        if (!response.ok) {
          return response.json().then(errorData => {
            throw new Error(errorData.message || 'Erreur inconnue');
          });
        }
        return response.json();
      })
      .then(data => {
        console.log("data: " + JSON.stringify(data));
        if (data.accessToken) {
          console.log(data.accessToken);
          localStorage.setItem('sold', data.sold);
          localStorage.setItem('accessToken', data.accessToken);
          setCookie("refreshToken", data.refreshToken, 7);
          window.location.href = ownerURL;
        } else {
          alert('Erreur de login');
        }
      })
      .catch(error => {
        console.error('Error:', error);  // Affiche l'erreur complète dans la console
        alert('Erreur lors de la création du compte : ' + error.message); // Affiche un message d'erreur plus descriptif
        // Redirection vers la page d'erreur
        window.location.href = ownerErrorPage;
      });
    });
  </script>
</body>
</html>
