<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bienvenue</title>
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <main>
        <section class="hero">
          <h1>
            <i class="bx bx-home-smile bx-tada" id="logo"></i>Bienvenue sur
            notre plateforme
          </h1>
          <p>Gérez vos propriétés et locations en toute simplicité</p>
        </section>

        <section class="features">
          <div class="feature">
            <h2>Espace Propriétaire</h2>
            <p>Gérez vos biens immobiliers</p>
            <a href="/owner/sign-log/" class="btn">Accéder</a>
          </div>

          <div class="feature">
            <h2>Espace Locataire</h2>
            <p>Gérez votre location</p>
            <a href="/tenant/sign-log/" class="btn">Accéder</a>
          </div>
        </section>
      </main>

      <footer>
        <p>
          Merci d'avoir payé à temps. Pour toute question, veuillez nous
          contacter à l'adresse
          <a href="mailto:extasehome@gmail.com"
            >Contact: extasehome@gmail.com</a
          >
          ou sur <a href="tel:+22897045559">Tél: +228 97045559</a>.
        </p>
        <p>&copy; 2024 Extase-Home. Tous droits réservés.</p>
      </footer>
    </div>
  </body>
</html>
