<div class="recent_project">
    <div class="card_header">
      <h2>Les locataires</h2>
    </div>
    <table>
      <thead>
        <tr>
            <th> Locataire </th>
            <th> Tel moov</th>
            <th> Tel togocel </th>
            <th> Retard </th>
            <th> Inscription </th>
        </tr>
      </thead>
      <tbody id="alltenantsTable">
        
      </tbody>
    </table>
  </div>

  <!-- 
    <tr>
    <td>KOJO jojo</td>
    <td>99999999/77777777</td>
    <td>
      <span class="badge bg_worning">Meduim</span>
    </td>
    <td>80.000</td>
  </tr>
  -->
  