<div class="box">
    <form id="subscription-form">
      <div class="form-group">
        <input type="email" id="subscription-info" name="info" placeholder="Tarifs" readonly>
      </div>
    </form>
    <div class="container">
        <div class="info-box">
            <i class='bx bx-home'></i>
            <div class="info-text">
                <div class="info-title">Prix d'inscription au logement</div>
                <div class="info-value">500 XOF</div>
            </div>
        </div>

        <div class="info-box">
            <i class='bx bx-user'></i>
            <div class="info-text">
                <div class="info-title">Prix d'inscription du locataire</div>
                <div class="info-value">300 XOF</div>
            </div>
        </div>

        <div class="info-box">
            <i class='bx bx-image'></i>
            <div class="info-text">
                <div class="info-title">Prix pour ajouter une signature</div>
                <div class="info-value">500 XOF</div>
            </div>
        </div>

        <div class="info-box">
            <i class='bx bx-calendar'></i>
            <div class="info-text">
                <div class="info-title">Prix mensuel du locataire</div>
                <div class="info-value">200 XOF</div>
            </div>
        </div>

        <div class="info-box">
            <i class='bx bx-receipt'></i>
            <div class="info-text">
                <div class="info-title">Prix de validation du reçu</div>
                <div class="info-value">1% du loyer (min. 200 XOF)</div>
            </div>
        </div>
        
        <div class="info-box">
            <i class='bx bx-credit-card'></i>
            <div class="info-text">
                <div class="info-title">Contacts pour les Transactions</div>
                <div class="info-title">FLOOZ:  <span>97045559</span></div>
                <div class="info-title">TMONEY: <span>90988966</span></div>
            </div>
        </div>
    </div>

  </div>