<div class="topbar">
  <div class="toggle">
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <div class="search-bar">
    <i class="bx bx-search" id="search-icon"></i>
    <input
      type="search"
      name="search-input"
      id="search-input"
      placeholder="Taper la recherche"
    />
  </div>
  <div class="sold-wrapper" id="sold">
    <h3>Solde : 0.0</h3>
  </div>
</div>
