

<div class="box">
    <i class='bx bx-pen'></i>
    <h2 id="action-indicator">Téléverser une photo de la signatures</h2 id="action-indicator">
    <form id="upload-form" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" id="image-upload" name="image" accept="image/*">
        </div>
        <button type="submit">Téléverser</button>
    </form>
    <h3>Signature :</h3>
    <img id="uploaded-image" class="hidden" alt="La photo téléversée sera affichée ici.">
    <div class="payment-notice">
        <span>Note : </span>
            <p>Pour une meilleure photo de votre signature, utilisez 
                <a href="https://www.remove.bg/">removeBG</a> pour supprimer 
                l'arrière-plan et assurez-vous que l'image soit inférieure 
                à 70 pixels de hauteur. Utilisez 
                <a href="https://imageresizer.com/crop-image">crop-image</a> pour recadrer l'image.
            </p>
      </div>
</div>
