<div class="table-card">
    <div class="card-header">
      <h2>Les locataires</h2>
    </div>
    <table>
      <thead>
        <tr>
            <td>Locataire</td>
            <td>Contact</td>
            <td>Retard</td>
            <td>Montants dus</td>
            <td>Montants Payés</td>
            <td>Restes dû</td>
            <td>Inscription</td>
        </tr>
      </thead>
      <tbody id="all-tenants-table">
        
      </tbody>
    </table>
  </div>
