<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Extase-Home - Sign-Log</title>
  <meta name="description" content="Extase-Home offre des solutions de gestion de logement alliant luxe et confort moderne. Découvrez nos services de gestion immobilière.">
  <link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/redirect.css">
</head>
<body>
  <div class="container">
    <div class="spinner"></div>
    <p>Redirection en cours, veuillez patienter...</p>
  </div>

  <script src="/public/endpoints.js"></script>
  <script src="/owner/owner-redirection.js"> </script>
</body>
</html>
