<div class="table-card">
  <div class="card-header">
    <h2>Les propriétés</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>Adresse</td>
        <td>Description</td>
        <td>Coût</td>
      </tr>
    </thead>
    <tbody id="my-properties-table">
      
    </tbody>
  </table>
</div>
