<div class="table-card">
    <div class="card-header">
      <h2>Les locataires</h2>
    </div>
    <table>
      <thead>
        <tr>
            <th> Locataire </th>
            <th> Contact </th>
            <th> Retard </th>
            <th> Montants dus </th>
            <th> Montants Payés </th>
            <th> Restes dû </th>
            <th> Inscription </th>
        </tr>
      </thead>
      <tbody id="all-tenants-table">
        
      </tbody>
    </table>
  </div>
