<!-- Modale pour modification -->
<div id="edit-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Modifier le locataire</h2>
      <form id="edit-tenant-form">
        <div class="form-group">
          <label for="edit-lastname">Nom:</label>
          <input type="text" id="edit-lastname" name="lastname" required>
        </div>
        <div class="form-group">
            <label for="edit-firstname">Prénom:</label>
            <input type="text" id="edit-firstname" name="firstname" required>
        </div>
        <div class="form-group">
          <label for="edit-contact-moov">Contact moov:</label>
          <input type="text" id="edit-contact-moov" name="contact-moov">
        </div>
        <div class="form-group">
          <label for="edit-contact-tg">Contact togocom:</label>
          <input type="text" id="edit-contact-tg" name="contact-tg">
        </div>
        <div class="form-group">
            <label for="edit-date">Date d'inscription:</label>
            <input type="date" id="edit-date" name="date" required>
        </div>
        <h3 id="reset-tenant-key">Générer une nouvelle clé de connection</h3>
        <button type="submit">Modifier</button>
      </form>
    </div>
  </div>
  