<div class="card">
  <div class="card-header">
    <h2>Nouveaux locataires</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th>Nom & contacts</th>
        <th>Date d'adhésion</th>
      </tr>
    </thead>
    <tbody id="recent-tenants-table"></tbody>
  </table>
</div>
