<div class="card">
    <div class="card-header">
      <h2>Les messages</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Name & contacts</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="recent-messages-table">
      </tbody>
    </table>
  </div>
  

  <!-- <tr>
    <td>Dropbox Design System</td>
    <td>99999999/77777777</td>
    <td>
      <span class="badge bg_worning">Meduim</span>
    </td>
    <td>80.000</td>
  </tr> -->