<div class="card-boxes">
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="total-payments">0</div>
      <div class="box-topic">Total des paiements</div>
    </div>
    <i class='bx bx-wallet'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="numbers" id="unpaid-months-count">0</div>
      <div class="box-topic">Total des retards</div>
    </div>
    <i class='bx bx-time-five'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="date-reminder" id="last-payment-date">01-10-2024</div>
      <div class="box-topic">Date du dernier paiement</div> 
    </div>
    <i class='bx bx-calendar-check'></i>
  </div>
  <div class="box">
    <div class="right-side">
      <div class="date-reminder" id="next-payment-date">01-10-2024</div>
      <div class="box-topic">Date du futur paiement</div>
    </div>
    <i class='bx bx-calendar-event'></i>
  </div>
</div>
