<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Activation en cours...</title>
  <link rel="stylesheet" href="/redirect.css">
</head>
<body>
  <div class="container">
    <div class="spinner"></div>
    <p>Activation en cours, veuillez patienter...</p>
  </div>

  <script src="/public/endpoints.js"></script>
  <script src="/tenant/tenant-activation.js"></script>
</body>
</html>
