
<div class="table-card">
  <div class="card-header">
    <h2>Mes messages</h2>
    <i id="delete-selected" class='bx bx-trash disabled' title="Supprimer les messages sélectionnés'"></i>
  </div>
  <div id="chat-container">
    <div class="message-container">
      <div class="message sender">
        <p>Message de l'expéditeur</p>
        <span class="timestamp">12:45 PM</span>
      </div>
      <div class="message receiver">
        <p>Message du destinataire</p>
        <span class="timestamp">12:46 PM</span>
      </div>
      <div class="message sender">
        <p>Comment ça va ?Comment ça va ?Comment ça va ?<br>Comment ça va ?Comment ça va ?</p>
        <span class="timestamp">12:47 PM</span>
      </div>
      <div class="message receiver">
        <p>Ça va bien, merci !</p>
        <span class="timestamp">12:48 PM</span>
      </div>
    </div>
  </div>    
</div>
  