<div class="table-card">
    <div class="card-header">
      <h2>Les reçus de paiements</h2>
    </div>
    <table>
      <thead>
        <tr>
          <td>Date du paiement</td>
          <td>Txn ID ou Réf</td>
          <td>Adresse</td>
          <td>Nom du Locataire</td>
          <td>Mois payé</td>
          <td>Méthode</td>
          <td>Montant</td>
          <td>Statut</td>
        </tr>
      </thead>
      <tbody id="receipts-table">
        
      </tbody>
    </table>
  </div>
  