<div class="sidebar">
  <div class="logo-details">
    <i class="bx bx-home-smile bx-tada" id="logo"></i>
    <div class="logo-name">Extase-Home</div>
  </div>
  <ul>
    <li>
      <a href="#" class="active" id="dash-button">
        <i class="bx bx-grid-alt"></i>
        <span class="links-name">Tableau de bord</span>
      </a>
    </li>
    <li>
      <a href="#" id="discuss-button">
        <i class="bx bx-chat"></i>
        <span class="links-name">Discussion</span>
      </a>
    </li>
    <li>
      <a href="#" id="profile-button">
        <i class="bx bx-user"></i>
        <span class="links-name">Profile</span>
      </a>
    </li>
  </ul>
</div>
